<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="epaard" translate="label" sortOrder="10">
            <label>Epaard</label>
        </tab>
        <section id="whatsapp" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Epaard Whatsapp Chat</label>
            <tab>epaard</tab>
            <resource>Epaard_Whatsapp::whatsapp_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="number" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Whatsapp Number</label>
                    <comment> For Chat with Customer for Product.</comment>
                </field>
                <field id="chat_text" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Text to Start Chat</label>
                </field>
                <field id="logo" translate="label" type="image" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Icon to Show</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">logo</upload_dir>
                    <base_url type="media" scope_info="1">logo</base_url>
                    <comment><![CDATA[Allowed file types: jpeg, gif, png.]]></comment>
                </field>
                <field id="launch_epaard_intro" type="button" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                   <frontend_model>Epaard\Whatsapp\Block\Adminhtml\System\Config\LaunchEpaardIntro</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>